.postContainer {

      .postIcon {
          margin-right: 10px;
      }

        .icons {
            margin: 5px 10px;
        }

        .likes {
            width: 95%;
            margin: 2px 5px;
            margin-left: 10px;
        }
}